<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-messages">
	
	<div
	 	*ngFor="let chat of _cs.chats"
		[ngClass]="{ 'text-right': _cs.user.uid === chat.uid }">
		<span 
			class="badge" 
			[ngClass]="{ 'badge-primary': _cs.user.uid === chat.uid, 'badge-success': _cs.user.uid !== chat.uid }"
			>Maycon</span>
		<p> {{ chat.message }} </p>
	</div>

	<!-- <div>
		<span class="badge badge-success">Xavier</span>
		<p>Saludos</p>
	</div> -->

</div>

<div class="form-group">
	<input type="text"
		class="form-control"
		id="inputMessage"
		name="message"
		[(ngModel)]="message"
		placeholder="Enviar mensaje"
		[disabled]="noWrite"
		(keyUp.enter)="send_message()"
		>	
</div>C